.handTile {
    width: 7%;
    height:7%;
    padding-left: 2px;
    padding-right: 2px;
}

.discardTile {
    width: 100%;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.tenhouLink {
    color: #0000EE;
}

.tenhouLink:hover {
    color: #0B0080;
}

body {
    background: #6C979B;
    overflow-y: scroll;
}

span {
    color: #FFFFFF;
}

.blackText {
    color: #000000;
}

a {
    color: yellow
}

a:hover {
    color: orange
}

.collapse.width {
    height: auto;
    -webkit-transition: width 0.35s ease;
    -moz-transition: width 0.35s ease;
    -o-transition: width 0.35s ease;
    transition: width 0.35s ease;
}